.container {
  width: 330px;
  padding: 20px;
  margin: 40px auto;
  background-color: #d9d9d9;   /* light grey box */
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
}

.red, .green, .yellow {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
}

.green {
  background-color: #2b7a2e;
}

.yellow {
  background-color: #fff94b;
}

.red {
  background-color: #e33022;
}